@model SchoolProgramViewModel
@{
    ViewBag.Title = "Details";
}

<div class="body-content" style="margin-bottom:480px; width:600px">
    <div class="card card-stats mb-4 mb-xl-0 shadow--hover">
        <div class="card-header">
            <h2>Details</h2>
            <strong>
                <a href="@Url.Action("CreateCourse", "Course" )">Create New Course</a>
            </strong>
        </div>

        <table class="table table-condensed no-border" id="sample-datatables">
            <thead>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Start date</th>
                    <td>@Model.StartDate</td>
                </tr>
                <tr>
                    <th>Course Name</th>
                    @foreach (var record in Model.Courses)
                    {
                        <td>@record.Name</td>
                    }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>