@model SchoolProgramViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container" style="margin-left: 10px;">
    <div class="row">
        <div class="col-md-12 text-center">
            <hr class="bottom-line">
        </div>
        <table class="table table-condensed no-border" id="sample-datatables">
            <thead>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Start date</th>
                    <td>@Model.StartDate</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>